fastapi
uvicorn
requests
beautifulsoup4
fake_useragent
python-dotenv
python-multipart
httpx
aiohttp
motor
google-generativeai>=0.4.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
